@font-face {
  font-family: 'Ribes Black';
  src: url('/fonts/ribes-black.woff2') format('woff2'),
    url('/fonts/ribes-black.woff') format('woff');
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #ffc895;
  color: #3a3a3a;
}

h1 {
  font-family: 'Ribes Black';
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
